.team-profile-box {
    height: 10em;
    max-height: 10em;
}

.team-profile-avatar-box {
    min-width: 6em;
    min-height: 6em;
    width: 6em;
    height: 6em;
}

.team-profile-avatar {
    width: 100%;
    height: 100%;
}

.team-profile-info-box {
    margin-left: 1.5em;
}

.team-profile-info-name {
    font-size: x-large;
}
