.model-triage-container {
	margin-top: 1em;
}

.chart-line {
	fill: none;
	stroke: blue;
	stroke-width: 4px;
}
.axis text {
	font-family: 'Poiret One', cursive;
	font-size: 12pt;
	color: gray;
}
.axis .label {
	font-size: 22pt;
}

.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
	stroke: lightgray;
	stroke-width: 1px;
}
